@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable.woff2") format("woff2");
}

:root {
  font-family: "InterVariable", sans-serif;
  font-optical-sizing: auto;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

a {
  @apply text-xs flex;
}

a.button {
  @apply border-slate-300 border px-2.5 py-1.5 rounded-md font-medium;
}

ins {
  @apply text-slate-400;
  animation: blink 500ms infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}
